
// widescreen
@include mediaXl {
  
}

// desktop & laptop
@include mediaLg {

  .about-info {
    display: grid;
    grid-gap: 20px;
    grid-template-areas: 
    'bioimage bio'
    'biotext biotext';
    grid-template-columns: repeat(2, 1fr);
  }
  
}

// tablets
@include mediaMed {
  main {
    align-items: center;
    text-align: center;

    .lg-heading {
      line-height: 1;
      margin-bottom: 1rem;
    }

    ul.menu-nav, 
    div.menu-branding {
      float: none;
      min-width: 0;
      width: 100%;

      &.show {
        transform: translate3d(0,0,0);
      }
    }

    .menu-nav {
      font-size: 24px;
      height: 75vh;
      transform: translate3d(-100%,0,0);
    }

    .menu-branding {
      height: 25vh;
      transform: translate3d(100%,0,0);

      .portrait {
        background: url('../img/ProfilePicStanding150.jpg');
        height: 150px;
        width: 150px;
      }
    }


    .about-info {
      grid-template-areas:
      'bioimage'
      'bio'
      'biotext';

      grid-template-columns: 1fr;
    }
    
  }
}

// smartphones
@include mediaSm {
  main {
    padding: 2rem;

    #home h1 {
      margin-top: 8vh;
    }

    .lg-heading {
      font-size: 5rem;
      margin-top: 1rem;
    }

    .sm-heading {
      font-size: 2rem;
      margin-top: 0.3rem;
    }

    .contact-text {
      font-size: 1.4rem;
    }
    
  }
}