<footer>
      <div class="footer-wrapper">
        <div class="footer-left">
          <h3 class="footer-title">
            Applications:
          </h3>
          <a href="http://justpeddle.com">
            <p class="footer-bullet">
              justPeddle.com
            </p>
          </a>
          <a href="http://nyde.us">
            <p class="footer-bullet">
              New York Doc Exchange
            </p>
          </a>
          <a href="http://vson.us">
            <p class="footer-bullet">
              VSON
            </p>
          </a>
          <a href="http://moodvie.net">
            <p class="footer-bullet">
              Moodvie
            </p>
          </a>
        </div>

        <div id="scrolltocontact" class="footer-right">
          <h3 class="footer-title">
            Contact:
          </h3>
          <p class="footer-bullet">
            Email: mgarrigan99@gmail.com
          </p>
          <p class="footer-bullet">
            Phone: 570 262 - 5326
          </p>
          <a  href="https://www.linkedin.com/in/mgarrigan">
            <p class="footer-bullet">
              Linkedin.com/in/mgarrigan
            </p>
          </a>
          <a href="https://github.com/M-garrigan">
            <p class="footer-bullet">
              Github.com/M-garrigan
            </p>
          </a>
        </div>
      </div>
    </footer>