<section class="header-main">
  <header role="banner">
    <div class="header-title-flex">

      <div class="title">
        <p class="title-text">Michael Garrigan</p>
      </div>
      
      <div class="header-subtitle-flex">
        <h3 class="sub-titles">Software Engineer</h3>
        <p class="sub-title-divider">&lt/&gt</p>
        <h3 class="sub-titles">Full Stack Web Developer</h3>
        <p class="sub-title-divider">&lt/&gt</p>
        <h3 class="sub-titles">Craftsman</h3>
      </div>

    </div>
  </header>
</section>