<section class="splash">
    
    <header role="banner">
      <div class="header-title-flex">
        <div class="title">
          <p class="title-text">Michael Garrigan</p>
        </div>
        
        <div class="header-subtitle-flex">
          <h3 class="sub-titles">Software Engineer</h3>
          <a href="https://github.com/M-garrigan">
            <i class="fab fa-github"></i>
          </a>
          <h3 class="sub-titles">Full Stack Web Developer</h3>
          <a href="https://www.linkedin.com/in/mgarrigan">
            <i class="fab fa-linkedin"></i>
          </a>
          <h3 class="sub-titles">Craftsman</h3>
        </div>

        <div class="link-wrapper">
          <a class="link-a" href="resume.html">
            <div class="link-button">  
              <p class="link-text">Resume</p>
            </div>
          </a>
          
          <a class="link-a" href="#scrolltowork">
            <div class="link-button">
              <p class="link-text">My Work</p>
            </div>
          </a>
          <a class="link-a" href="#scrolltocontact">
            <div class="link-button">
              <p class="link-text">Contact</p>
            </div>
          </a>
        </div>

      </div>
    </header>
  </section>