<div class="work" role="article">
        
  <div class="work-header-wrapper">
    <h3 id="scrolltowork" class="work-header">
      my portfolio ....
    </h3>
    
    <div class="top-button-flex">
      <a href="#scrolltotop">
        <div class="top-button">
          <i class="fas fa-arrow-up fa-1x"></i>
          <p class="top-button-text">top</p>
        </div>
      </a>
    </div>
    
  </div>
        

        <!-- peddle -->
        <div class="project-item-wrapper">
          <div class="project-inner-flex">

            <div class="project-about">
              <div class="project-banner">
                <div class="flex-50">
                  <p class="pre-text-50">pe</p>
                  <div class="crank-color-50"></div>
                  <div class="crank-color-50"></div>
                  <span class="post-text-50">le</span>
                </div>
              </div>
              <p class="project-bullets">
                'A C2C Marketplace'
              </p>
              <br/>
              <p class="project-bullets">
                Tech Stack: 
              </p>
              <p class="project-bullets">
                React/Redux, Express, Node.js
              </p>
              <p class="project-bullets">
                PostgreSQL, AWS 
              </p>
              <br/>
              <p class="project-bullets">
                Auto Scaling & Load Balancing
              </p>
              <p class="project-bullets">
                Lambda Image Uploading Service, Read/Write Database
              </p>
              <div class="project-button-wrapper">
                <a href="http://justpeddle.com">
                  <div class="project-live project-button">
                    <i class="fas fa-eye fa-1x"></i> 
                    <p>Go to Live</p>
                  </div>
                </a>
                <a href="https://github.com/M-garrigan/Peddle">
                  <div class="project-sourcecode project-button">
                    <i class="fab fa-github fa-1x"></i> 
                    <p>Source Code</p>
                  </div>
                </a>
              </div>
            </div>

            <div class="project-carousel">
              <a href="http://justpeddle.com">
                <img src="img/projects/PeddleHome.jpg" alt="Project">
              </a>
            </div>
          </div>  
        </div>

        <!-- nyde -->
        <div class="project-item-wrapper">
          <div class="project-inner-flex">

            <div class="project-about">
              <div class="project-banner">
                <h2>New York Doc Exchange</h2>
              </div>
              <p class="project-bullets">
                'Find a doctor near you'
              </p>
              <br/>
              <p class="project-bullets">
                Tech Stack: 
              </p>
              <p class="project-bullets">
                React, SQLite3, Express, Node.js
              </p>
              <br/>
              <p class="project-bullets">
                Auto Complete Input
              </p>
              <p class="project-bullets">
                Google Maps + Geocoding API's
              </p>
              <p class="project-bullets">
                Nodemailer auto email feature
              </p>
              <div class="project-button-wrapper">
                <a href="http://nyde.us">
                  <div class="project-live project-button">
                    <i class="fas fa-eye fa-1x"></i> 
                    <p>Go to Live</p>
                  </div>
                </a>
                <a href="https://github.com/M-garrigan/NYDE">
                  <div class="project-sourcecode project-button">
                    <i class="fab fa-github fa-1x"></i> 
                    <p>Source Code</p>
                  </div>
                </a>
              </div>
            </div>
  
            <div class="project-carousel">
              <a href="http://nyde.us">
                <img src="img/projects/nyde-screenshot.jpg" alt="Project">
              </a>
            </div>
          </div>  
        </div>
         
        <!-- vson -->
        <div class="project-item-wrapper">
          <div class="project-inner-flex">

            <div class="project-about">
              <div class="project-banner">
                <h2>VSON</h2>
              </div>
              <br/>
              <p class="project-bullets">
                Tech Stack: 
              </p>
              <p class="project-bullets">
                React, D3, SQL, AWS 
              </p>
              <br/>
              <p class="project-bullets">
                Visualize Census.gov data.
              </p>
              <p class="project-bullets">
                See Population by state or county.
              </p>
              <div class="project-button-wrapper">
                <a href="http://vson.us">
                  <div class="project-live project-button">
                    <i class="fas fa-eye fa-1x"></i> 
                    <p>Go to Live</p>
                  </div>
                </a>
                <a href="https://github.com/M-garrigan/VSON">
                  <div class="project-sourcecode project-button">
                    <i class="fab fa-github fa-1x"></i> 
                    <p>Source Code</p>
                  </div>
                </a>
              </div>
            </div>
    
            <div class="project-carousel">
              <a href="http://vson.us">
                <img src="img/projects/newVSON.jpg" alt="Project">
              </a>
            </div> 
          </div>  
        </div>
              
        <!-- moodvie -->
        <div class="project-item-wrapper">
          <div class="project-inner-flex">

            <div class="project-about">
              <div class="project-banner">
                <h2>Moodvie</h2>
              </div>
              <p class="project-bullets">
                'See entertainment based on your mood'
              </p>
              <br/>
              <p class="project-bullets">
                Tech Stack: 
              </p>
              <p class="project-bullets">
                React, React-Router 4, MongoDB 
              </p>
              <br/>
              <p class="project-bullets">
                Shows music, movies, plays, books and theatre.
              </p>
              <p class="project-bullets">
                Web scraping by Nightmare.js and Cheerio
              </p>
              <div class="project-button-wrapper">
                <a href="http://moodvie.net">
                  <div class="project-live project-button">
                    <i class="fas fa-eye fa-1x"></i> 
                    <p>Go to Live</p>
                  </div>
                </a>
                <a href="https://github.com/M-garrigan/Moodvie">
                  <div class="project-sourcecode project-button">
                    <i class="fab fa-github fa-1x"></i> 
                    <p>Source Code</p>
                  </div>
                </a>
              </div>
            </div>
      
            <div class="project-carousel">
              <a href="http://moodvie.net">
                <img src="img/projects/moodvie-screenshot.jpg" alt="Project">
              </a>
            </div>
          </div>  
        </div>
  
        <div class="top-button-flex">
          <a href="#scrolltotop">
            <div class="top-button">
              <i class="fas fa-arrow-up fa-1x"></i>
              <p class="top-button-text">top</p>
            </div>
          </a>
        </div>
        
      </div>  <!-- end .work -->
    </div> <!-- end .main -->
