<section class="skills">

    <div class="skills-icon-flex">
      <div class="skills-box react">
        <i class="fab fa-react fa-fw"></i>
        <p class="skills-item-text">REACT</p>
      </div>
      <div class="skills-box angular">
        <i class="fab fa-angular fa-fw"></i>
        <p class="skills-item-text">ANGULAR</p>
      </div>
      <div class="skills-box js">
        <i class="fab fa-js-square fa-fw"></i>
        <p class="skills-item-text">ES6 +</p>
      </div>
      <div class="skills-box node">
          <i class="fab fa-node-js fa-fw"></i>
        <p class="skills-item-text">NODE.js</p>
      </div>
      <div class="skills-box less">
        <i class="fab fa-less fa-fw"></i>
        <p class="skills-item-text">LESS</p>
      </div>
    </div>

    <div class="skills-icon-flex">
      <div class="skills-box html5">
        <i class="fab fa-html5 fa-fw"></i>
        <p class="skills-item-text">HTML5</p>
      </div>
      <div class="skills-box css3">
        <i class="fab fa-css3 fa-fw"></i>
        <p class="skills-item-text">CSS3</p>
      </div>
      <div class="skills-box sql">
        <i class="fas fa-database fa-fw"></i>
        <p class="skills-item-text">SQL</p>
      </div>
      <div class="skills-box aws">
          <i class="fab fa-aws fa-fw"></i>
        <p class="skills-item-text">AWS</p>
      </div>
      <div class="skills-box vue">
        <i class="fab fa-vuejs fa-fw"></i>
        <p class="skills-item-text">VUE</p>
      </div>
      <div class="skills-box sass">
        <i class="fab fa-sass fa-fw"></i>
        <p class="skills-item-text">SASS</p>
      </div>
    </div>
  </section>   