
<div class="moodvie-wrapper project-wrapper">
  <div class="smartphone-moodvie-svg"></div>

  <div class="project-content">
    <div class="project-title">
      Moodvie
    </div>

    <div class="moodvie-subtitle project-subtitle">
      Discover entertainment based upon your mood
    </div>

    <ul class="project-bullets">
      <li>
        Static Web Scrapping with Cheerio
      </li>
      <li>
        Dynamic Web Scrapping with Nightmare.js
      </li>
    </ul>

    <div class="project-tech">
      <div>Tech Stack:</div>
      <div class="project-tech-icons">
        <div class="react-icon tech-icons"></div>
        <div class="node-icon tech-icons"></div>
        <div class="react-router-icon tech-icons"></div>
        <div class="mongoDB-icon tech-icons"></div>
      </div>
    </div>
    
  </div>
</div>