<div class="moodvie-wrapper">
  <div class="moodvie-content project-content">
    <div class="moodvie-svg"></div>
    <div class="moodvie-title project-title">
      Moodvie
    </div>
    <div class="moodvie-subtitle project-subtitle">
      Discover entertainment based upon your mood.
    </div>
    <div class="moodvie-tech-stack project-tech-stack">
      React, React-Router, MongoDB, ExpressJS
    </div>
  </div>
</div>