<div class="nycGeo-wrapper project-wrapper">
  <div class="project-content">

    <div class="project-title">
      NYC Geo
    </div>

    <div class="project-subtitle">
      A Power Point Style Slide Viewer
    </div>

    <ul class="project-bullets">
      <li>
        Auto Scaling & Load Balancing Groups
      </li>
      <li>
        Read - Write Database
      </li>
      <li>
        CI/CD Azure Pipline
      </li>
    </ul>

    <div class="project-tech">
      <div>Tech Stack:</div>
      <div class="project-tech-icons">
        <div class="react-icon tech-icons"></div>
        <div class="redux-icon tech-icons"></div>
        <div class="node-icon tech-icons"></div>
        <div class="aws-icon tech-icons"></div>
        <div class="postgresql-icon tech-icons"></div>
      </div>
    </div>

  </div>

  <div class="desktop-peddle-svg"></div>
</div>