<div class="nyde-wrapper project-wrapper">
  <div class="smartphone-nyde-svg"></div>

  <div class="project-content">
    <div class="nyde-title">
      New York Doc Exchange
    </div>

    <div class="nyde-subtitle project-subtitle">
      Find a specialized doctor based on location
    </div>

    <ul class="project-bullets">
      <li>
        Auto Complete Search Input
      </li>
      <li>
        Google Map & Geocoding API
      </li>
    </ul>

    <div class="project-tech">
      <div>Tech Stack:</div>
      <div class="project-tech-icons">
        <div class="react-icon tech-icons tooltip">
          <span class="tooltiptext">React</span>
        </div>
        <div class="node-icon tech-icons tooltip">
          <span class="tooltiptext">Node</span>
        </div>
        <div class="less-icon tech-icons tooltip">
          <span class="tooltiptext">Less</span>
        </div>
        <div class="google-map-icon tech-icons tooltip">
          <span class="tooltiptext">Google Maps</span>
        </div>
      </div>
    </div>
    
  </div>
</div>