<div class="nyde-wrapper project-wrapper">
  <div class="smartphone-svg"></div>
  <div class="nyde-content project-content">
    <div class="nyde-title project-title">
      New York Doc Exchange
    </div>
    <div class="nyde-subtitle project-subtitle">
      Find a specialized doctor based on location.
    </div>
    <div class="nyde-tech-stack project-tech-stack">
      React, Node, ExpressJS, SQLite3
    </div>
  </div>
</div>