<div class="peddle-wrapper project-wrapper">
  <div class="peddle-content">
    <div class="peddle-title project-title">
      Peddle
    </div>
    <div class="peddle-subtitle project-subtitle">
      A Consumer to Consumer Marketplace
    </div>
    <div class="peddle-tech-stack project-tech-stack">
      React, Redux, Node, PostgreSQL, AWS
    </div>
  </div>
  <div class="desktop-svg"></div>
</div>