<div class="portfolio-wrapper project-wrapper">
  <div class="project-content">

    <div class="project-title">
      Portfolio
    </div>

    <div class="project-subtitle">
      A responsive, svg rich site with EJS
    </div>

    <ul class="project-bullets">
      <li>
        Michael Garrigan's Collection of work
      </li>
      <li>
        Git Hook Auto Deploy Workflow
      </li>
    </ul>

    <div class="project-tech">
      <div>Tech Stack:</div>
      <div class="project-tech-icons">
        <div class="ejs-icon tech-icons tooltip">
          <span class="tooltiptext">EJS</span>
        </div>
        <div class="aws-icon tech-icons tooltip">
          <span class="tooltiptext">AWS</span>
        </div>
        <div class="express-icon tech-icons tooltip">
          <span class="tooltiptext">Express</span>
        </div>
        <div class="node-icon tech-icons tooltip">
          <span class="tooltiptext">Node</span>
        </div>
      </div>
    </div>

  </div>
  <div class="desktop-vson-svg"></div>
</div>