<div class="my-portfolio-wrapper project-wrapper">
  <div class="project-content">

    <div class="project-title">
      My Portfolio
    </div>

    <div class="project-subtitle">
      A responsive, svg rich site with EJS
    </div>

    <ul class="project-bullets">
      <li>
        Michael Garrigan's Collection of work
      </li>
      <li>
        Git Hook Auto Deploy Workflow
      </li>
    </ul>

    <div class="project-tech">
      <div>Tech Stack:</div>
      <div class="project-tech-icons">
        <div class="ejs-icon tech-icons"></div>
        <div class="node-icon tech-icons"></div>
      </div>
    </div>

  </div>

</div>