<div class="portfolio-wrapper project-wrapper">
  <div class="portfolio-content">
    <div class="portfolio-title project-title">
      My portfolio page
    </div>
    <div class="portfolio-subtitle project-subtitle">
      A responsive, svg rich site with EJS
    </div>
    <div class="portfolio-tech-stack project-tech-stack">
      EJS, NodeJS
    </div>
  </div>
  <div class="desktop-svg"></div>
</div>