<div class="vson-wrapper project-wrapper">
  <div class="vson-content">
    <div class="vson-title project-title">
      VSON
    </div>
    <div class="vson-subtitle project-subtitle">
      Visualize the US Census.gov data
    </div>
    <div class="vson-tech-stack project-tech-stack">
      React, SQL, D3, AWS
    </div>
  </div>
  <div class="vson-svg"></div>
</div>