
.individual-blog-wrapper {
  margin: 0 auto; 
  width: 60vw;
}
.individual-blog-title {
  color: rgb(22, 22, 22);
  font-size: 6vw;
  text-align: center;
}
.individual-blog-sub-title {
  color: rgb(59, 81, 90);
  font-size: 3vw;
  text-align: center;
}
.individual-blog-text-block {
  font-size: 2vw;
}
.individual-blog-text-header {
  font-size: 3vw;
}