/* Blog Start */
a {
  text-decoration: none;
}

#blog-overflow-wrapper {
  position: absolute;
  width: 100vw;
}
#blog-main-wrapper {
  background: rgb(230, 228, 228);
  margin: 0 auto;
  width: 100%;
}

main#index-project-wrapper {
  height: 100%;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 3;
}


@media (min-aspect-ratio: 4/3) {
  #blog-main-wrapper {
    max-width: calc(70vw);
  }
  
  main#index-project-wrapper {
    max-width: calc(70vw);
  }
  .header-main {
    max-width: calc(70vw);
  }
  .blog-main-body h1 {
    font-size: 6vw !important;
  }
  .blog-main-entries {
    font-size: 2vw !important;
  }
  .blog-main-spacer {
    height: 20vw !important;
  }
}
.blog-main-body {
  background: #dbdada;
  height: 100vh;
}
.blog-main-spacer {
  height: 30vw;
}
.blog-main-body h1 {
  color: teal;
  font-size: 10vw;
  text-align: center;
  text-shadow: 3px 3px 8px #888888;
}
.blog-main-entries {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.blog-main-entry {
  background: rgb(250, 242, 250);
  border-radius: 20px;
  box-shadow: 5px 10px 18px #888888;
  color: rgb(158, 12, 158);
  font-size: 3vw;
  margin: 1rem 0;
  padding: 1rem;
  text-shadow: 2px 2px 5px #888888;
}
/* Blog End */