
* {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

/* Individual Blog Header Start */

.individual-blog-header {
  background: rgb(99,247,243);
  background: linear-gradient(90deg, rgba(99,247,243,1) 0%, rgba(99,204,247,1) 50%, rgba(52,83,250,1) 100%);
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  height: 8vw;
}
.individual-blog-main-title {
  color: #ff8c00;
  font-size: 6vw;
  grid-column: span 2 / auto;
  text-shadow: 2px 2px 1px rgb(80, 78, 78);
}
.individual-blog-backlink {

}
/* Individual Blog Header End */

/* Individual Blog Title SVG */
.ind-blog-title-card {
  background-repeat: no-repeat !important;
  background-size: cover !important;
  border-radius: 20px;
  height: 40vw;
  margin: 20px auto;
  text-shadow: 2px 2px 1px rgb(39, 38, 38);
  width: 80%;
}
.HOC-title-card {
  background: url('./svg/HOC.svg');
}
#blog-HOC-svg {
}

/* Individual Blog Title SVG End */

.individual-blog-wrapper {
  margin: 0 auto; 
  width: 80vw;
}
.individual-blog-title {
  color: rgb(22, 22, 22);
  font-size: 6vw;
  text-align: center;
}
.individual-blog-sub-title {
  color: rgb(189, 112, 93);
  font-size: 3vw;
  margin: 1vw 0;
  text-align: center;
}
.just-code-tag {
  background: rgb(231, 230, 230);
}
.individual-blog-section {
  font-size: 4vw;
  text-align: center;
}
.individual-blog-text-block {
  font-size: 2.4vw;
  line-height: 1.4;
}
.individual-blog-text-header {
  font-size: 3vw;
}


/* Code Group Start */
.code-group-wrapper {
  border-radius: 1rem;
  box-shadow: 5px 10px 18px #888888;
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
}
.code-group-title {
  background: lightblue;
  border-radius: 1rem 1rem 0 0;
  font-size: 2.4vw;
  margin: 0;
  padding: 10px;
}
.language-python, .language-javascript {
  border-radius: 0 0 1rem 1rem;
  margin: 0 !important;
}
.pre-without-code {
  background: rgb(221, 224, 226);
  font-size: 3vw;
  margin: 0;
}
/* Code Group End */
