
/* ==================
      VARIABLES 
=================== */
:root {
  --overflow-gray: #dbd0d7;
  --active-link: #ff8c00;
  --active-link-stroke: #ff4500;
  --gray-1: #ccc;
  --gray-2: #474747;
  --gray-3: #333;
}

/* ==================
      GLOBALS 
=================== */
* {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}
body {
  background-color: var(--overflow-gray);
  background-image: url('img/linen.png');
  background-repeat: repeat;
  min-height: 100vh;
  width: 100vw;
}
a {
  text-decoration: none;
}

/* ==================
        NAV 
=================== */
#svg-nav {
  position: fixed;
  width: 100vw;
  z-index: 10;
}
#svg-nav-background {
  color: #326792;
  color: #464545;
  fill: var(--gray-3);
}
.svg-nav-flank {
  fill: var(--gray-2);
}
.svg-nav-link-text {
  fill: var(--gray-1);
}
.svg-nav-link {
  cursor: pointer;
  fill: var(--gray-2);
}
.svg-nav-name {
  fill: var(--active-link);
}


.svg-link-resume:hover .svg-nav-link {
  fill: var(--active-link);
  stroke: var(--active-link-stroke);
  stroke-width: 1px;
}
.svg-link-resume:hover .svg-nav-link-text {
  fill: var(--gray-3);
}
.svg-link-gh:hover .svg-nav-link {
  fill: var(--active-link);
  stroke: var(--active-link-stroke);
  stroke-width: 1px;
}
.svg-link-gh:hover .svg-nav-link-text {
  fill: var(--gray-3);
}
.svg-link-applications:hover .svg-nav-link {
  fill: var(--active-link);
  stroke: var(--active-link-stroke);
  stroke-width: 1px;
}
.svg-link-applications:hover .svg-nav-link-text {
  fill: var(--gray-3);
}
.svg-link-li:hover .svg-nav-link {
  fill: var(--active-link);
  stroke: var(--active-link-stroke);
  stroke-width: 1px;
}
.svg-link-li:hover .svg-nav-link-text {
  fill: var(--gray-3);
}
.svg-link-blog:hover .svg-nav-link {
  fill: var(--active-link);
  stroke: var(--active-link-stroke);
  stroke-width: 1px;
}
.svg-link-blog:hover .svg-nav-link-text {
  fill: var(--gray-3);
}
.svg-link-home:hover {
  cursor: pointer;
}


/* ==================
     INDEX PAGE 
=================== */
#index-main {
  background: var(--gray-3);
  margin: 0 auto;
  min-height: 100vh;
  width: 100vw;
}
#index-section {

}

/* MEDIA QUERIES */
@media screen and (min-width: 1000px) {
  #svg-nav {
    width: 1000px;
  }
  #index-main {
    background: var(--gray-3);
    margin: 0 auto;
    min-height: 100vh;
    width: 1000px;
  }
}
/* @media (min-aspect-ratio: 4/3) {
  #index-main {
    background: yellowgreen;
    margin: 0 auto;
    max-width: 80vw;
    min-height: 100vh;
  }
  #svg-nav {
    margin: 0 auto;
    max-width: 80vw;
  }
  #svg-background-header {
    max-width: calc(70vw);
  }
  main#index-project-wrapper {
    max-width: calc(70vw);
  }
  .header-main {
    max-width: calc(70vw);
  }
  .header-title-flex {
    font-size: 7vw !important;
  }
  .sub-titles {
    font-size: 1.4vw !important;
  }
  .peddle-wrapper{
    height: 24vw !important;
    left: 16vw !important;
    top: 32vw !important;
    width: 50vw !important;
  }
  .nyde-wrapper {
    height: 24vw !important;
    left: 4vw !important;
    top: 69vw !important;
    width: 50vw !important;
  }
  .vson-wrapper {
    height: 24vw !important;
    left: 16vw !important;
    top: 106vw !important;
    width: 50vw !important;
  }
  .moodvie-wrapper {
    height: 24vw !important;
    left: 4vw !important;
    top: 144vw !important;
    width: 50vw !important;
  }
  .my-portfolio-wrapper {
    height: 24vw !important;
    left: 16vw !important;
    top: 181vw !important;
    width: 50vw !important;
  }
  .project-title {
    font-size: 4vw !important;
  }
  .project-subtitle {
    font-size: 1.8vw !important;
  }
  .project-bullets {
    font-size: 1.2vw !important;
  }
  .project-tech {
    font-size: 2vw !important;
  }
  .project-tech-icons {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    margin-top: 1vw;
    width: 100%;
  }
  
  
  .tech-icons {
    height: 5vw !important;
    width: 5vw !important;
  }
  .desktop-peddle-svg {
    height: 30vw !important;
    margin-top: 5vw !important;
    width: 25vw !important;
  }
  
  .smartphone-nyde-svg {
    height: 30vw !important;
    margin-top: 5vw !important;
    width: 20vw !important;
  }
  .nyde-title {
    font-size: 2.5vw !important;
  }
  .desktop-vson-svg {
    height: 30vw !important;
    margin-top: 5vw !important;
    width: 25vw !important;
  }
  .smartphone-moodvie-svg {
    height: 30vw !important;
    margin-top: 5vw !important;
    width: 20vw !important;
  }
} */

/* body#index-overflow-wrapper {
  position: absolute;
  width: 100vw;
}
main#index-main-wrapper {
  background: #333333;
  margin: 0 auto;
  position: absolute;
  width: 100%;
  z-index: 5 !important;
}
main#index-project-wrapper {
  height: 100%;
  left: 0;
  margin: 0 auto;
  
  right: 0;
  top: 0;
  width: 100%;
  
} */



/* SVG Background Body */
#svg-background-body {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 3;
}
/* SVG Background Body End */


/* Header  */
.header-main {
  position: fixed;
  left: 0;
  margin: auto;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 20;
}
 
header {
  margin: 0 auto;  
}

.header-title-flex {
  align-items: center;
  color: #ff8c00;
  display: flex;
  flex-flow: column;
  font-size: 9vw;
  font-weight: 600;
  justify-content: center;
  
}
.header-title-flex > a {
  color: #ff8c00;
}

.header-subtitle-flex {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
}
.sub-titles {
  color: #bbb3b3;
  font-size: 2vw;
  font-weight: 500;
  margin: .5rem .5rem 1rem;
}
.sub-title-divider {
  color: #bbb3b3;
  font-size: 2vw;
  font-weight: 500;
  margin: .5rem .5rem 1rem;
}
/* Splash End */

/* Resume Start */
.resume-main {
  height: 130vw;
  width: 100%;
}
.resume-offset {
  height: 25.5vw;
}
.resume-wrapper {
  height: 100%;
}
/* Resume End */

/* Art Start */
.art-main {
  height: 130vw;
  width: 100vw;
}
.art-offset {
  height: 25.5vw;
}
.art-wrapper {
  height: 100%;
}
/* Art End */

/* PEDDLE LOGO 50 */
.flex-50 {
  align-content: center;
  align-items: center;
  display: flex;
  justify-content: center; }

.crank-color-50 {
  background: url("../img/peddle50.png");
  height: 58px;
  width: 50px; }

.pre-text-50 {
  color: #068585;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 60px;
  margin: 0;
  padding: 10px 5px 0 0; }

.post-text-50 {
  color: #068585;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 60px;
  padding: 10px 0 0 5px; }
/* THINGS I'VE MADE END */

/* Projects Start */
/* Global projects elements */
.project-wrapper{
  align-items: center;
  display: flex;
  height: 34vw;
  position: absolute;
  width: 75vw;
  z-index: 7 !important;
}

.project-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  height: 100%;
  justify-content: space-between;
  width: 70%;
}
.project-title {
  color: rgb(226, 225, 222);
  font-size: 8vw;
}
.project-subtitle {
  color: rgb(226, 225, 222);
  font-size: 2.2vw;
}
.project-bullets {
  color: rgb(226, 225, 222);
  font-size: 1.6vw;
}
.project-tech {
  color: rgb(226, 225, 222);
  font-size: 2.5vw;
  text-align: center;
  width: 100%;
}
.project-tech-icons {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  margin-top: 1vw;
  width: 100%;
}

/* Project Icons */
.tech-icons {
  background-repeat: no-repeat;
  background-size: contain;
  height: 7vw;
  width: 7vw;
}
.react-icon {
  background: url('./svg/icons/react.svg');
}
.redux-icon {
  background: url('./svg/icons/redux.svg');
}
.node-icon {
  background: url('./svg/icons/node.svg');
}
.aws-icon {
  background: url('./svg/icons/aws.svg');
}
.postgresql-icon {
  background: url('./svg/icons/postgresql.svg');
}
.mui-icon {
  background: url('./svg/icons/material_ui.svg');
}
.google-map-icon {
  background: url('./svg/icons/google_map_api.svg');
}
.mysql-icon {
  background: url('./svg/icons/mysql.svg');
}
.d3-icon {
  background: url('./svg/icons/d3.svg');
}
.react-router-icon {
  background: url('./svg/icons/reactrouter.svg');
}
.mongoDB-icon {
  background: url('./svg/icons/mongodb.svg');
}
.ejs-icon {
  background: url('./svg/icons/ejs.svg');
}
/* Global projects elements end*/

/* 1) Peddle */
.peddle-wrapper{
  left: 22vw;
  top: 46vw;
}
.desktop-peddle-svg {
  background: url('./desktop_peddle.svg');
  background-repeat: no-repeat;
  background-size: contain;
  height: 40vw;
  margin-top: 5vw;
  width: 35vw;
}
/* 1) Peddle End */

/* 2) NYDE */
.nyde-wrapper {
  left: 3vw;
  top: 99vw;
}
.smartphone-nyde-svg {
  background: url('./svg/smartphone_right_nyde.svg');
  background-repeat: no-repeat;
  background-size: contain;
  height: 40vw;
  margin-top: 8vw;
  width: 25vw;
}
.nyde-title {
  color: rgb(226, 225, 222);
  font-size: 4vw;
}
/* 2) NYDE End */
/* 3) VSON */
.vson-wrapper {
  left: 22vw;
  top: 152vw;
}
.desktop-vson-svg {
  background: url('./svg/desktop_left_vson.svg');
  background-repeat: no-repeat;
  background-size: contain;
  height: 40vw;
  margin-top: 5vw;
  width: 35vw;
}
/* 3) VSON End */
/* 4) Moodvie */
.moodvie-wrapper {
  left: 3vw;
  top: 205vw;
}
.smartphone-moodvie-svg {
  background: url('./svg/smartphone_right_moodvie.svg');
  background-repeat: no-repeat;
  background-size: contain;
  height: 40vw;
  margin-top: 8vw;
  width: 25vw;
}
/* 4) Moodvie End */
/* 5) My Portfolio */
.my-portfolio-wrapper {
  left: 22vw;
  top: 258vw;
} 
/* 5) My Portfolio End */
/* Projects End */