
* {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}
 
body {
  background: #333333;
  width: 100vw;
}
a {
  color: #2babe1;
  text-decoration: none;
}

/* SVG Background Header */
#svg-background-header {
  width: 100vw;
}
.flank-header {
  fill: #f7a23b;
}
.header-link {
  fill: #4682b4;
}
#blog-header-text-link {
  font-style:normal;
  font-weight:normal;
  font-size:8.60610676px;
  line-height:1.25;
  font-family:sans-serif;
  letter-spacing:0px;
  word-spacing:0px;
  fill:#1a1a1a;
  fill-opacity:1;
  stroke:none;
  stroke-width:0.26458332;
}
#svg-main-background .blackout-header {
  fill: #333333;
}

/* SVG Background Header End */

/* SVG Background Body */

#svg-background-body {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
}

/* SVG Background Body End */

/* Header  */
.header-main {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
}
 
header {
  margin: 0 auto;  
}

.header-title-flex {
  align-items: center;
  color: darkorange;
  display: flex;
  flex-flow: column;
  font-size: 9vw;
  font-weight: 600;
  justify-content: center;
}
.header-subtitle-flex {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
}
.header-subtitle-flex a {
  font-size: 2vw;
}

.sub-titles {
  color: #bbb3b3;
  font-size: 2vw;
  font-weight: 500;
  margin: .5rem .5rem 1rem;
}
.sub-title-divider {
  color: #bbb3b3;
  font-size: 2vw;
  font-weight: 500;
  margin: .5rem .5rem 1rem;
}
/* Splash End */

/* Resume Start */
.resume-body {
  height: 100vh;
  width: 100vw;
}
.resume-wrapper {
  height: 100%;
}
.resume-back-button {
  font-size: 3rem;
  padding: 40px 0 20px 40px;
}
/* Resume End */

/* SKILLS START */
.skills {
  background: url('grid_hex_1.svg');
  background-repeat: no-repeat;
  background-size: contain;
  height: 100vw;
  width: 100vw;
}

.skills-icon-flex {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  font-size: 4.5rem;
  justify-content: space-evenly;
  padding: 10px 10px;
  width: 90%;
}

.skills-box {
  border-radius: 5px;
  box-shadow: 1px 1px 4px #666;
  height: 120px;
  margin: 20px 0;
  padding: 5px;
  text-align: center;
  width: 120px;
}
.skills-item-text {
  font-size: 2rem;
}

.react {
  background-color: #60DAFB;
}
.angular p{
  font-size: 1.4rem;
}
.angular:hover {
  color: #DD1B15;
}
.js:hover {
  background: rgb(145, 144, 144);
  color: #EAD44F;
}
.node p {
  font-size: 1.6rem;
}
.node:hover {
  color: #7EC729;
}
.html5:hover {
  color: #DD4B25;
}
.css3:hover {
  color: #176FAF;
}
.sql:hover {
  color: #3294D4;
}
.aws:hover {
  color: #F79403;
}
.vue:hover {
  color: #40B17F;
}
.sass:hover {
  color: #C66494
}
.less:hover {
  color: #254976;
}
/***** END *****/

.work {
  background-color: oldlace;
}
.work-header-wrapper {
  padding: 20px;
  text-align: center;
  width: 90%;
}
.work-header {
  color: rgba(255, 99, 71, 0.87);
  font-size: 5rem;
  font-style: italic;
  padding: 30px 0 0;
  text-shadow: 3px 3px 1px darkred;
}

.top-button-flex {
  display: flex;
  justify-content: flex-end;
  margin: 0 15px 0 0;
}
.top-button {
  align-items: center;
  border: 2px solid rgb(48, 47, 47);
  border-radius: 5px;
  color: rgb(48, 47, 47);
  display: flex;
}
.top-button-text {
  font-size: 1.5rem;
  font-weight: 600;
  padding: 5px;
}
/* MY PORTFOLIO START */
.project-item-wrapper {
  background-color: floralwhite;
  border: 2px solid #dd3b2a;
  border-radius: 10px;
  margin: 20px auto;
  width: 90%;
}
.project-inner-flex {
  align-items: center;
  display: flex;
  text-align: center;
}
.project-about {
  height: 100%;
  width: 50%;
}

.project-banner {
  font-size: 2.4rem;
  padding: 20px 0;
}
.project-bullets {
  font-size: 1.4rem;
  padding: 4px 0;
}

.project-button-wrapper {
  display: flex;
  justify-content: space-evenly;
  padding: 20px 0;
}
.project-button {
  background: rgb(247, 204, 126);
  border-radius: 5px;
  box-shadow: 1px 1px 4px #666;
  color: #dd3b2a;
  font-size: 1.5rem;
}

.project-carousel {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 0 10px;
  width: 50%;
}
.project-carousel a img {
  border-radius: 5px;
  box-shadow: 1px 1px 4px #666;
  height: 80%;
  width: 90%;
}


/* PEDDLE LOGO 50 */
.flex-50 {
  align-content: center;
  align-items: center;
  display: flex;
  justify-content: center; }

.crank-color-50 {
  background: url("../img/peddle50.png");
  height: 58px;
  width: 50px; }

.pre-text-50 {
  color: #068585;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 60px;
  margin: 0;
  padding: 10px 5px 0 0; }

.post-text-50 {
  color: #068585;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 60px;
  padding: 10px 0 0 5px; }
/* THINGS I'VE MADE END */


