
* {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}
 
body {
  background: #333333;
  width: 100vw;
}
a {
  
  text-decoration: none;
}

/* SVG Background Header */
#svg-background-header {
  position: fixed;
  width: 100vw;
  z-index: 10;
}
.flank-header {
  fill: #f7a23b;
}
.header-link {
  fill: #4682b4;
  
}
#blog-header-text-link {
  font-style:normal;
  font-weight:normal;
  font-size:8.60610676px;
  line-height:1.25;
  font-family:sans-serif;
  letter-spacing:0px;
  word-spacing:0px;
  fill:#1a1a1a;
  fill-opacity:1;
  stroke:none;
  stroke-width:0.26458332;
}
#svg-main-background .blackout-header {
  fill: #333333;
}

/* SVG Background Header End */

/* SVG Background Body */

#svg-background-body {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
}

/* SVG Background Body End */

/* Header  */
.header-main {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  z-index: 20;
}
 
header {
  margin: 0 auto;  
}

.header-title-flex {
  align-items: center;
  color: #ff8c00;
  display: flex;
  flex-flow: column;
  font-size: 9vw;
  font-weight: 600;
  justify-content: center;
  
}
.header-title-flex > a {
  color: #ff8c00;
}

.header-subtitle-flex {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
}
.sub-titles {
  color: #bbb3b3;
  font-size: 2vw;
  font-weight: 500;
  margin: .5rem .5rem 1rem;
}
.sub-title-divider {
  color: #bbb3b3;
  font-size: 2vw;
  font-weight: 500;
  margin: .5rem .5rem 1rem;
}
/* Splash End */

/* Resume Start */
.resume-main {
  height: 130vw;
  width: 100vw;
}
.resume-offset {
  height: 25.5vw;
}
.resume-wrapper {
  height: 100%;
}
/* Resume End */

/* Art Start */
.art-main {
  height: 130vw;
  width: 100vw;
}
.art-offset {
  height: 25.5vw;
}
.art-wrapper {
  height: 100%;
}
/* Art End */

/* PEDDLE LOGO 50 */
.flex-50 {
  align-content: center;
  align-items: center;
  display: flex;
  justify-content: center; }

.crank-color-50 {
  background: url("../img/peddle50.png");
  height: 58px;
  width: 50px; }

.pre-text-50 {
  color: #068585;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 60px;
  margin: 0;
  padding: 10px 5px 0 0; }

.post-text-50 {
  color: #068585;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 60px;
  padding: 10px 0 0 5px; }
/* THINGS I'VE MADE END */

/* Projects Start */
/* Global projects elements */
.project-wrapper{
  align-items: center;
  display: flex;
  height: 34vw;
  position: absolute;
  width: 75vw;
}

/* 1) Peddle */
.peddle-wrapper{
  left: 22vw;
  top: 46vw;
}
.peddle-content, .project-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  justify-content: space-between;
  width: 70%
}
.peddle-title, .project-title {
  color: rgb(226, 225, 222);
  font-size: 6vw;
}
.peddle-subtitle, .project-subtitle {
  color: rgb(226, 225, 222);
  font-size: 2.2vw;
}
.peddle-tech-stack, .project-tech-stack {
  color: rgb(226, 225, 222);
  font-size: 2.2vw;
}
.desktop-svg {
  background: url('./desktop_peddle.svg');
  background-repeat: no-repeat;
  background-size: contain;
  height: 40vw;
  margin-top: 5vw;
  width: 35vw;
}
/* 1) Peddle End */

.nyde-wrapper {
  left: 3vw;
  top: 99vw;
}
.smartphone-svg {
  background: url('./smartphone_right.svg');
  background-repeat: no-repeat;
  background-size: contain;
  height: 40vw;
  margin-top: 8vw;
  width: 25vw;
}


.vson-wrapper {
  background: red; 
  opacity: 0.6;
  position: absolute;
  left: 22vw;
  top: 152vw;
}
.moodvie-wrapper {
  background: green; 
  opacity: 0.6;
  position: absolute;
  left: 3vw;
  top: 205vw;
}
.portfolio-wrapper {
  background: yellow; 
  opacity: 0.6;
  position: absolute;
  left: 22vw;
  top: 258vw;
} 
/* Projects End */