<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
<body>
  <%- include('../partials/backgroundSVGHeader') %>
  <%- include('../partials/header') %>

  <div class="art-main">
    <div class="art-offset"></div>
    <div class="art-wrapper">
      
    </div>
  </div>

</body>
</html> 