
<!DOCTYPE html>
<html lang='en'>
  <%- include('../partials/head') %>
  <body>
    <main id='index-main' class='index-main-max'>
      <%- include('../partials/nav') %>
      <section id='index-section'>

      </section>
    </main>
    <script src='events.js'></script>
  </body>
</html> 

