
<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head/resumeHead") %>
  <body>
    <main id="resume-main">
      <%- include('../partials/nav') %>

      <section class="resume-section">
        <div class="resume-offset"></div>
        <div class="resume-wrapper">
          <embed 
            id="resume-pdf" 
            width="100%" 
            height="100%" 
            name="plugin" src="./img/MichaelGarriganResume.pdf" type="application/pdf">
        </div>
      </section>

    </main>
  </body>
</html> 