/* Blog Start */

#blog-main {
  background: var(--gray-3);
  margin: 0 auto;
  width: 100%;
}
.blog-section {
  min-height: 100vh;
}
.blog-section-spacer {
  height: 25vw;
}
.blog-section h1 {
  color: var(--blog-purple);
  font-size: 10vw;
  text-align: center;
  text-shadow: .2vw .2vw .4vw var(--gray-1);
}
.blog-main-entries {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.blog-main-entry {
  background: var(--gray-1);
  border-radius: 1vw;
  color: var(--blog-purple);
  font-size: 4vw;
  margin: 2vw 0;
  padding: 1vw;
}


@media screen and (min-width: 1000px) {
  #blog-main {
    background: var(--gray-3);
    margin: 0 auto;
    width: 1000px;
  }
  .blog-section-spacer {
    height: 230px;
  }
  .header-main {
    max-width: calc(70vw);
  }
  .blog-section h1 {
    font-size: 100px;
    margin: 20px 0;
    text-shadow: 2px 2px 4px var(--gray-1);
  }
  .blog-main-entry {
    font-size: 40px;
    margin: 20px 0;
    padding: 10px;
  }
}